*.tar*
*db
*quartus*
*modelsim*
*questasim*
*ip*
*.obj
*.stl
*.rar
*.zip
*.3ds
*.fbx
*.dae
*.c4d

# Quartus & Qsys
*.qsys
*.qsys_edit*
*.sopcinfo
*.bak
*greybox_tmp*

# Cadence
*cds_libs*

*.xml
*.html
*.setup

.vscode/*

# Xcelium
sim/xcelium/libraries/*
sim/xcelium/.simvision/*
