*.tar*
*db
*quartus*
*modelsim*
*questasim*
*ip*
*.obj
*.stl
*.rar
*.zip
*.3ds
*.fbx
*.dae
*.c4d

# Quartus 
*.sopcinfo
*.bak
*greybox_tmp*

# & Qsys
*.qsys_edit*
qsys/gpu_sys/*

# Cadence
*cds_libs*

*.xml
*.html
*.setup

.vscode/*

# Xcelium
sim/xcelium/libraries/*
sim/xcelium/.simvision/*
sim/xcelium/xm*
sim/xcelium/xrun*
sim/xcelium/waves*
sim/xcelium/xcelium.d/*


# Questasim
sim/questa/libraries/*
*.wlf

